doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    style.
      body {
        margin: 0;
        background-color: #005AA9;
      }

      .frame {
        width: 660px;
        background-color: #fff;
        margin: auto;
        margin-top: 20px;
        border-radius: 20px;
        padding: 10px;
      }

      .text-wrapper {
        padding-top: 5px;
        border-top: #000000 solid 2px;
        top: 0;
        left: 183px;
        font-family: "DM Sans-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 26px;
        letter-spacing: 0;
        line-height: normal;
        text-align: center;
      }

      .tu-autenticaci-n-se {
        width: 708px;
        top: 121px;
        left: 27px;
        font-family: "DM Sans-Regular", Helvetica;
        font-weight: 400;
        color: transparent;
        font-size: 16px;
        letter-spacing: 0;
        line-height: normal;
      }

      .span {
        color: #202020;
      }

      .text-wrapper-2 {
        color: #000000;
      }

      .div {
        top: 73px;
        left: 27px;
        font-family: "DM Sans-SemiBold", Helvetica;
        font-weight: 600;
        color: #000000;
        font-size: 18px;
        letter-spacing: 0;
        line-height: normal;
      }
  body
    .frame
      .correo
        .overlap-group
          div(style="display: flex; justify-content: center; align-items: center; height: 100%;")
            svg(
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="400"
              zoomAndPan="magnify"
              viewBox="0 0 300 112.499997"
              preserveAspectRatio="xMidYMid meet"
              version="1.0"
            )
              defs
                filter(id="c523329ba6", x="0%", y="0%", width="100%", height="100%")
                  feColorMatrix(values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0", color-interpolation-filters="sRGB")
                clipPath(id="4f32c3ddb8")
                  path(d="M 90.433594 44 L 114 44 L 114 68.027344 L 90.433594 68.027344 Z M 90.433594 44 ", clip-rule="nonzero")
                mask(id="7ff60c2284")
                  g(filter="url(#c523329ba6)")
                    rect(x="-30", width="360", fill="#000000", y="-11.25", height="134.999996", fill-opacity="0.7")
                clipPath(id="0232b2db05")
                  path(d="M 0.433594 0.441406 L 23.921875 0.441406 L 23.921875 24 L 0.433594 24 Z M 0.433594 0.441406 ", clip-rule="nonzero")
                clipPath(id="f4fbb08c65")
                  rect(x="0", width="24", y="0", height="25")
                clipPath(id="0e5ed29ab5")
                  path(d="M 96 44 L 120.203125 44 L 120.203125 68.027344 L 96 68.027344 Z M 96 44 ", clip-rule="nonzero")
                mask(id="d8b9b52f08")
                  g(filter="url(#c523329ba6)")
                    rect(x="-30", width="360", fill="#000000", y="-11.25", height="134.999996", fill-opacity="0.7")
                clipPath(id="f532fb4930")
                  path(d="M 1 0.441406 L 24.203125 0.441406 L 24.203125 24 L 1 24 Z M 1 0.441406 ", clip-rule="nonzero")
                clipPath(id="e1c5ba790f")
                  rect(x="0", width="25", y="0", height="25")
              g(clip-path="url(#4f32c3ddb8)")
                g(mask="url(#7ff60c2284)")
                  g(transform="matrix(1, 0, 0, 1, 90, 44)")
                    g(clip-path="url(#f4fbb08c65)")
                      g(clip-path="url(#0232b2db05)")
                        path(fill="#085fce", d="M 23.753906 15.53125 C 23.753906 17.773438 22.878906 19.882812 21.292969 21.46875 C 19.65625 23.105469 17.503906 23.925781 15.355469 23.925781 C 13.203125 23.925781 11.050781 23.105469 9.414062 21.46875 L 2.894531 14.949219 C 1.308594 13.363281 0.433594 11.253906 0.433594 9.011719 C 0.433594 6.769531 1.308594 4.660156 2.894531 3.070312 C 6.167969 -0.203125 11.5 -0.203125 14.773438 3.070312 L 21.292969 9.589844 C 22.878906 11.179688 23.753906 13.289062 23.753906 15.53125 Z M 23.753906 15.53125 ", fill-opacity="1", fill-rule="nonzero")
            g(clip-path="url(#0e5ed29ab5)")
              g(mask="url(#d8b9b52f08)")
                g(transform="matrix(1, 0, 0, 1, 96, 44)")
                  g(clip-path="url(#e1c5ba790f)")
                    g(clip-path="url(#f532fb4930)")
                      path(fill="#3de2ff", d="M 24.316406 9.011719 C 24.316406 11.253906 23.445312 13.363281 21.859375 14.949219 L 15.339844 21.46875 C 13.699219 23.105469 11.550781 23.925781 9.398438 23.925781 C 7.25 23.925781 5.097656 23.105469 3.460938 21.46875 C 1.875 19.882812 1 17.773438 1 15.53125 C 1 13.289062 1.875 11.179688 3.460938 9.589844 L 9.980469 3.070312 C 13.253906 -0.203125 18.582031 -0.203125 21.859375 3.070312 C 23.445312 4.660156 24.316406 6.769531 24.316406 9.011719 Z M 24.316406 9.011719 ", fill-opacity="1", fill-rule="nonzero")
            g(fill="#000000", fill-opacity="1")
              g(transform="translate(125.082157, 64.135574)")
                g
                  path(d="M 5.21875 0 L 1.3125 0 L 1.3125 -16.65625 L 5.21875 -16.65625 Z M 5.21875 0 ")
              g(fill="#000000", fill-opacity="1")
                g(transform="translate(131.191146, 64.135574)")
                  g
                    path(d="M 5.21875 0 L 1.3125 0 L 1.3125 -16.65625 L 5.21875 -16.65625 L 5.21875 -10.0625 L 11.546875 -10.0625 L 11.546875 -16.65625 L 15.453125 -16.65625 L 15.453125 0 L 11.546875 0 L 11.546875 -6.5625 L 5.21875 -6.5625 Z M 5.21875 0 ")
              g(fill="#000000", fill-opacity="1")
                g(transform="translate(137.300134, 64.135574)")
                  g
                    path(d="M 5.21875 0 L 1.3125 0 L 1.3125 -16.65625 L 5.21875 -16.65625 Z M 5.21875 0 ")
            g(clip-path="url(#f4fbb08c65)")
              g(mask="url(#d8b9b52f08)")
                g(transform="matrix(1, 0, 0, 1, 0, 44)")
                  g(clip-path="url(#e1c5ba790f)")
                    g(clip-path="url(#f532fb4930)")
                      path(fill="#ffb200", d="M 9.121094 19.992188 C 12.296875 19.992188 15.117188 17.171875 15.117188 14.035156 C 15.117188 10.898438 12.296875 8.078125 9.121094 8.078125 C 5.945312 8.078125 3.125 10.898438 3.125 14.035156 C 3.125 17.171875 5.945312 19.992188 9.121094 19.992188 Z M 9.121094 19.992188 ")
            g(clip-path="url(#4f32c3ddb8)")
              g(mask="url(#7ff60c2284)")
                g(transform="matrix(1, 0, 0, 1, 0, 44)")
                  g(clip-path="url(#f4fbb08c65)")
                    g(clip-path="url(#0232b2db05)")
                      path(fill="#ff9900", d="M 0.433594 0 L 1 0 L 1 -1.066406 L 0.433594 -1.066406 Z M 0.433594 0 ")
      .text-wrapper
        | Tu autenticación se ha completado exitosamente, y ahora tienes acceso a todas las herramientas y recursos de nuestro software de apoyo psicológico. Desde aquí podrás gestionar tus citas, acceder a recursos de bienestar, y mantener un seguimiento continuo de tus sesiones.
        
        br
        
        | ¿Qué puedes hacer ahora?
        ul
            li | Programar y gestionar citas con psicólogos del área estudiantil.
            li | Acceder a recursos de bienestar y material de apoyo emocional.
            li | Recibir notificaciones de tus próximas sesiones y recomendaciones personalizadas.

        br

        | Bienvenido a una experiencia de apoyo personalizada y dedicada a tu bienestar académico y emocional.

        br

        | ¡Nos alegra tenerte en iHealth!

        br

        | Atentamente, 
        br
        | Equipo de iHealth

